JAX-WS_4/client/src/wsdl/CalculatorPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservice.javacourse.ru/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.javacourse.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.javacourse.ru/" schemaLocation="CalculatorPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sub">
    <part name="parameters" element="tns:sub"/>
  </message>
  <message name="subResponse">
    <part name="parameters" element="tns:subResponse"/>
  </message>
  <message name="mult">
    <part name="parameters" element="tns:mult"/>
  </message>
  <message name="multResponse">
    <part name="parameters" element="tns:multResponse"/>
  </message>
  <message name="sun">
    <part name="parameters" element="tns:sun"/>
  </message>
  <message name="sunResponse">
    <part name="parameters" element="tns:sunResponse"/>
  </message>
  <message name="div">
    <part name="parameters" element="tns:div"/>
  </message>
  <message name="divResponse">
    <part name="parameters" element="tns:divResponse"/>
  </message>
  <portType name="Calculator">
    <operation name="sub">
      <input ns1:Action="http://webservice.javacourse.ru/Calculator/subRequest" message="tns:sub" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://webservice.javacourse.ru/Calculator/subResponse" message="tns:subResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="mult">
      <input ns3:Action="http://webservice.javacourse.ru/Calculator/multRequest" message="tns:mult" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://webservice.javacourse.ru/Calculator/multResponse" message="tns:multResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sun">
      <input ns5:Action="http://webservice.javacourse.ru/Calculator/sunRequest" message="tns:sun" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://webservice.javacourse.ru/Calculator/sunResponse" message="tns:sunResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="div">
      <input ns7:Action="http://webservice.javacourse.ru/Calculator/divRequest" message="tns:div" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://webservice.javacourse.ru/Calculator/divResponse" message="tns:divResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

